{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1 class="main-title">
        {{ document.title }}
    </h1>

    <div class="main-body">
        {{ document.as_markdown|safe }}
    </div>
</main>

<aside class="rightbar">
    <a href="{% url 'document_update' document.id %}">Edit document</a>
    | <form action="{% url 'document_featurize' document.id %}" method="post" class="form-inline">
        <input type="checkbox" name="is_featured" id="id_is_featured" {% if not document.is_featured %}checked{% endif %} hidden>
        {% csrf_token %}
        <input type="submit" value="{% if not document.is_featured %}Featurize{% else %}Unfeaturize{% endif %}">
    </form>
    <br>--
    <br><a href="{% url 'document_delete' document.id %}">Del</a>
    <br>--
    <br>Created by {{ request.user }} at Mar 24, 2030.
    <br>Last edited by {{ request.user }} at Mar 24, 2030.
    {% if messages %}
    <br>--
    {% for message in messages %}
    <br><span{% if message.tags %} class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</span>
    {% endfor %}
    {% endif %}
</aside>
{% endblock %}

{% block scripts %}
<script>
    window.addEventListener('keypress', function (evt) {
        if (evt.key === 'e') {
            let url = document.location.href + 'edit/';
            document.location.assign(url);
        } else if (evt.key === 'u') {
            let url = '/';
            document.location.assign(url);
        }
    });
</script>
{% endblock %}
