{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1 class="main-title">
        Import markdown files
    </h1>

    <div class="main-body">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="id_file" multiple required>
            {% csrf_token %}
            <input type="submit" value="Upload">
        </form>
    </div>
</main>

{% if messages %}
<aside class="rightbar">
    {% for message in messages %}
    <br><span{% if message.tags %} class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</span>
    {% endfor %}
</aside>
{% endif %}
{% endblock %}
