{% extends 'main/layout.html' %}

{% block content %}
<main>
    <h1 class="main-title">
        Index
    </h1>

    <div class="main-body">
        <ul>
            {% for doc in documents %}
            <li><a href="{% url 'main:document_detail' doc.id %}">{{ doc.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</main>

{% if messages %}
<aside class="rightbar">
    {% for message in messages %}
    <div{% if message.tags %} class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
    {% endfor %}
</aside>
{% endif %}
{% endblock %}
