{% extends 'main/layout.html' %}

{% block content %}
<div class="grid">
    <nav>
        <a href="#" class="nav-title">
            Project Mal
        </a>

        <div class="nav-group">
            <div class="nav-group-title">PINS</div>
            <div class="nav-group-body">
                <div class="nav-group-body-item"><a href="#">House of Commons</a></div>
                <div class="nav-group-body-item"><a href="#">Congress</a></div>
            </div>
        </div>

        <div class="nav-group">
            <div class="nav-group-title">PAGES</div>
            <div class="nav-group-body">
                <div class="nav-group-body-item"><a href="#">House of Commons</a></div>
                <div class="nav-group-body-item"><a href="#">Congress</a></div>
                <div class="nav-group-body-item"><a href="#">Parliament</a></div>
                <div class="nav-group-body-item"><a href="#">Politics</a></div>
                <div class="nav-group-body-item"><a href="#">Ministries</a></div>
                <div class="nav-group-body-item"><a href="#">Member of Parliament</a></div>
            </div>
        </div>
    </nav>

    <main>
        <h1 class="main-title">
            House of commons
        </h1>

        <div class="main-body">
            <p>
                The House of Commons is the elected lower house of the bicameral parliaments of the United Kingdom and Canada and historically was the name of the lower houses of the Kingdom of England, Kingdom of Great Britain, Kingdom of Ireland, Northern Ireland, and Southern Ireland. Roughly equivalent bodies in other countries which were once part of the British Empire include the United States House of Representatives, the Australian House of Representatives, the New Zealand House of Representatives, and India's Lok Sabha.
            </p>
            <p>
                In the UK and Canada, the Commons holds much more legislative power than the nominally upper house of parliament. The leader of the majority party in the House of Commons by convention becomes the prime minister. Since 2010 the House of Commons of the United Kingdom has had 650 elected members, and since 2015 the House of Commons of Canada has had 338 members.[1] The Commons' functions are to consider through debate new laws and changes to existing ones, authorise taxes, and provide scrutiny of the policy and expenditure of the Government. It has the power to give a Government a vote of no confidence.
            </p>
            <h2>
                History and naming
            </h2>
            <p>
                The House of Commons of the Kingdom of England evolved from an undivided parliament to serve as the voice of the tax-paying subjects of the counties and of the boroughs. Knights of the shire, elected from each county, were usually landowners, while the borough members were often from the merchant classes. These members represented subjects of the Crown who were not Lords Temporal or Spiritual, who themselves sat in the House of Lords. The House of Commons gained its name because it represented communities (communes).[2] Members of the Commons were all elected, while members of the upper house were summoned to parliament by the monarch, usually on the basis of a title which would be inherited after the holder's death, or because they held a position in the realm that warranted special recognition, such as the bishops of the English and Welsh dioceses. After the Reformation, these bishops were those of the Church of England.
            </p>
            <p>
                Since the 19th century, the British and Canadian Houses of Commons have become increasingly representative, as suffrage has been extended. Both bodies are now elected via universal adult suffrage. However, from the Middle Ages until the early 20th century the suffrage was limited in various ways, typically to some male property-owners; in 1780 just 3% of the population could vote.[3] By the 18th century this created many rotten boroughs with a tiny electorate where an influential person effectively controlled representation. In all countries, the House of Commons now as in the past may be prorogued for an election or some other purpose only by the Crown, represented outside the United Kingdom by the Governor General of each Commonwealth realm.
            </p>
        </div>
    </main>

    <div class="user">
        <a href="#" class="user-content">@sirodoht</a>
    </div>
</div>
{% endblock %}
