{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mal — wiki</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="grid">
        <nav>
            <a href="{% url 'main:index' %}" class="nav-title">
                Project Mal
            </a>

            <div class="nav-group">
                <div class="nav-group-title">ACTIONS</div>
                <div class="nav-group-body">
                    <div class="nav-group-body-item"><a href="{% url 'main:document_create' %}">Create document</a></div>
                </div>
            </div>

            <div class="nav-group">
                <div class="nav-group-title">FEATURED</div>
                <div class="nav-group-body">
                    {% for doc in featured %}
                    <div class="nav-group-body-item"><a href="{% url 'main:document_read' doc.id %}">{{ doc.title }}</a></div>
                    {% endfor %}
                </div>
            </div>

            <div class="nav-group">
                <div class="nav-group-title">DOCUMENTS</div>
                <div class="nav-group-body">
                    {% for doc in documents %}
                    <div class="nav-group-body-item"><a href="{% url 'main:document_read' doc.id %}">{{ doc.title }}</a></div>
                    {% endfor %}
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <aside class="user">
            <div class="user-items">
                <a href="{% url 'main:document_create' %}" class="user-items-primary">Create</a>
            </div>
            <div class="user-profile">
                {% if request.user.is_authenticated %}
                <a href="{% url 'main:profile' %}" class="user-profile-link">@{{ request.user.username }}</a>
                {% else %}
                <a href="{% url 'main:login' %}" class="user-profile-link">Login</a>
                {% endif %}
            </div>
        </aside>
    </div>

</body>
</html>
