{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mal — wiki</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="grid">
        <nav>
            <a href="{% url 'index' %}" class="nav-title">
                Project Mal
            </a>

            <div class="nav-group">
                <div class="nav-group-title">ACTIONS</div>
                <div class="nav-group-body">
                    <div class="nav-group-body-item"><a href="{% url 'document_create' %}">Create document</a></div>
                    <div class="nav-group-body-item"><a href="{% url 'document_import' %}">Import markdown files</a></div>
                    <div class="nav-group-body-item"><a href="{% url 'document_export' %}">Export everything</a></div>
                </div>
            </div>

            <div class="nav-group">
                <div class="nav-group-title">FEATURED</div>
                <div class="nav-group-body">
                    {% for doc in featured %}
                    <div class="nav-group-body-item"><a href="{% url 'document_detail' doc.id %}">{{ doc.title }}</a></div>
                    {% endfor %}
                </div>
            </div>

            <div class="nav-group">
                <div class="nav-group-title">DOCUMENTS</div>
                <div class="nav-group-body" id="sidebar-index">
                    {% for doc in documents %}
                    <div class="nav-group-body-item"><a href="{% url 'document_detail' doc.id %}">{{ doc.title }}</a></div>
                    {% endfor %}
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <aside class="ceiling">
            <div class="ceiling-items">
                {% if request.user.is_authenticated %}
                <a href="{% url 'document_create' %}" class="ceiling-items-primary">Create</a>
                {% else %}
                <a href="{% url 'user_create' %}">Signup</a>
                <a href="{% url 'login' %}" style="margin-right: 16px;">Login</a>
                {% endif %}
            </div>
            <div class="ceiling-profile">
                {% if request.user.is_authenticated %}
                <a href="{% url 'user_detail' request.user.id %}" class="ceiling-profile-link">@{{ request.user.username }}</a>
                {% endif %}
            </div>
        </aside>
    </div>

    <script src="{% static 'elasticlunr.js' %}"></script>
    <script src="{% static 'fuse.js' %}"></script>
    <script>
        // elasticlunr for title + body
        const lunrIndex = elasticlunr(function () {
            this.addField('title');
            this.addField('body');
            this.setRef('id');
        });

        // load data from API and into elasticlunr + fuse indexes
        var fuseIndex;
        const dataReq = new XMLHttpRequest();
        dataReq.addEventListener('error', function () {
            console.log('Search data loading failed.');
        });
        dataReq.addEventListener('load', function () {
            const jsonData = JSON.parse(this.responseText);
            const data = [];
            jsonData.forEach(rawItem => {
                const item = {
                    'id': rawItem.pk,
                    'title': rawItem.fields.title,
                    'body': rawItem.fields.body,
                }
                lunrIndex.addDoc(item);
                data.push(item);
            });

            // fuse.js (fuzzy matching) for titles only
            const options = {
                isCaseSensitive: false,
                includeScore: true,
                location: 0,
                threshold: 0.1,
                distance: 100,
                keys: [
                    "title",
                ],
            };
            fuseIndex = new Fuse(data, options);
        });
        dataReq.open('GET', '/api/documents/');
        dataReq.send();

        // build hierarchy on sidebar
        const newSidebarIndex = document.createElement('div');
        const sidebarIndex = document.getElementById('sidebar-index');
        let currentSubsection = '';
        for (let item of sidebarIndex.querySelectorAll('div')) {
            if (item.textContent.indexOf(':') !== -1) {
                // split parts into first level and all the rest
                const parts = item.textContent.split(':');
                const partOne = parts[0];
                const partTwo = item.textContent.substring(parts[0].length + 1);

                if (partOne !== currentSubsection) {
                    // new subsection, add it and change 'currentSubsection' var
                    currentSubsection = partOne;
                    const partOneAnchorElem = document.createElement('span');
                    partOneAnchorElem.textContent = partOne;
                    partOneAnchorElem.style.color = '#878787';
                    const partOneItemElem = document.createElement('div');
                    partOneItemElem.classList.add('nav-group-body-item');
                    partOneItemElem.appendChild(partOneAnchorElem);
                    newSidebarIndex.appendChild(partOneItemElem);
                }

                // add one level down link
                const partTwoAnchorElem = document.createElement('a');
                partTwoAnchorElem.textContent = partTwo;
                partTwoAnchorElem.href = item.childNodes[0].href;
                const partTwoItemElem = document.createElement('div');
                partTwoItemElem.classList.add('nav-group-body-subitem');
                partTwoItemElem.appendChild(partTwoAnchorElem);
                newSidebarIndex.appendChild(partTwoItemElem);

                // delete original element with colon
                item.parentElement.removeChild(item);
            } else {
                currentSubsection = '';
                newSidebarIndex.appendChild(item);
            }
        }

        // swap old sidebar with new
        sidebarIndex.insertAdjacentElement('afterend', newSidebarIndex);
    </script>

    {% block scripts %}
    {% endblock %}

</body>
</html>
