{% extends 'main/layout.html' %}

{% block content %}
<div class="grid">
    <nav>
        <a href="#" class="nav-title">
            Project Mal
        </a>

        <div class="nav-group">
            <div class="nav-group-title">PINS</div>
            <div class="nav-group-body">
                <div class="nav-group-body-item"><a href="#">House of Commons</a></div>
                <div class="nav-group-body-item"><a href="#">Congress</a></div>
            </div>
        </div>

        <div class="nav-group">
            <div class="nav-group-title">PAGES</div>
            <div class="nav-group-body">
                <div class="nav-group-body-item"><a href="#">House of Commons</a></div>
                <div class="nav-group-body-item"><a href="#">Congress</a></div>
                <div class="nav-group-body-item"><a href="#">Parliament</a></div>
                <div class="nav-group-body-item"><a href="#">Politics</a></div>
                <div class="nav-group-body-item"><a href="#">Ministries</a></div>
                <div class="nav-group-body-item"><a href="#">Member of Parliament</a></div>
            </div>
        </div>
    </nav>

    <main>
        <h1 class="main-title">
            Profile
        </h1>
    </main>

    <div class="user">
        <a href="#" class="user-content">@sirodoht</a>
    </div>
</div>
{% endblock %}
